<div id="<%= dom_id(publisher) %>" class="card">
  <div class="card-body">
    <h5 class="card-title">Publisher Details</h5>
    <p class="card-text"><strong>Name:</strong> <%= publisher.name %></p>
    <p class="card-text"><strong>Description:</strong> <%= publisher.description %></p>
    <p class="card-text"><strong>Organization:</strong> <%= publisher.organization&.name %></p>
  </div>
</div>